:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
} 
.about-container {
    width: var(--maximum-width);
    margin: 25px auto 50px;
}
.about-content {
    margin-bottom: 25px;
    background-color: #fff;
    /* padding: 18px; */
    padding: 9px;
    border-radius: var(--border-rad);
    box-shadow: 0 1px 5px var(--grey-color);
}
.about-title {
    font-size: 23px;
    font-weight: 700;
    /* padding-bottom: 10px; */
    padding-bottom: 2px;
    color: var(--blue);
}
.about-description{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 17px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
/* --MEDIA QUERY FOR Ipad and Tablet FROM 481PX UPTO 768PX-- */
@media screen and (min-width: 481px) {
    .our-aim-description {
        font-size: 20px;
    }
    .about-content {
        padding: 15px 35px 15px;
    }
}
/* --MEDIA QUERY FOR SMALL SCREEN LAPTOPS FROM 769PX UPTO 1024-- */
@media screen and (min-width: 769px) {
    .about-container {
        width: 75%;
    }
}
/* --MEDIA QUERY FOR SMALL SCREEN LAPTOPS FROM 1025PX UPTO 1200PX -- */
@media screen and (min-width: 1024px) {
    .about-container {
        width: 70%;
    }
    .about-description{
        font-size: 18px;
    }
}
/* --MEDIA QUERY FOR EXTRA LARGE SCREEN, TV FROM 1281PX AND ABOVE  -- */
@media screen and (min-width: 1281px) {
    .about-container {
        width: 60%;
    }
}