:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
} 
.about-container {
    /* background-color: red; */
    width: var(--maximum-width);
    margin: 0 auto;
}
.our-aim {
    margin: 25px 0;
    background-color: #fff;
    padding: 18px;
    border-radius: var(--border-rad);
    box-shadow: 0 1px 5px var(--grey-color);
}
.our-aim-title {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 10px;
}
.our-aim-description {
    font-size: 19px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
