:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
    --grey-color: #575353;
    --grey--bg: rgb(216 215 215);
  }
.attend-container {
    /* background-color: red; */
    width: var(--maximum-width);
    margin: 0 auto;
}
.classroom {
    margin-top: 25px;
}
.classroom-label {
    color: var(--blue);
    font-size: 17px;
    font-weight: 600;
    padding-top: 5px;
}
.classroom-img {
    border-radius: var(--border-rad);
}
.attend-text {
    margin: 12px auto 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.2px;
}
.attend-text a {
    background-color: var(--blue);
    border-radius: var(--border-rad);
    text-decoration: none;
    color: #fff;
    padding: 0 3px;
    font-weight: 600;
}
.tgl {
    margin-top: 25px;
}
.tgl-img {
    border-radius: var(--border-rad);
}
.map-container {
    margin: 25px auto;
}
.map-label, .tgl-label {
    color: var(--blue);
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
}
.attend-map-iframe {
    border-radius: var(--border-rad);
    box-shadow: 0 2px 7px var(--grey-color);
    width: 100%; 
    height: 340px
}
/* --MEDIA QUERY FOR Ipad and Tablet FROM 481PX UPTO 768PX-- */
@media screen and (min-width: 481px) {
    .attend-text {
        font-size: 19px;
    }
}
/* --MEDIA QUERY FOR SMALL SCREEN LAPTOPS FROM 769PX-- */
@media screen and (min-width: 769px) {
    .classroom-label {
        font-size: 18px;
    }
    .attend-text {
        font-size: 20px;
    }
    .map-label, .tgl-label {
        font-size: 18px;
    }
    .attend-map-iframe {
        height: 400px;
    }
}