:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
    --grey-color: #575353;
    --grey--bg: rgb(216 215 215);
  }
.attend-container {
    /* background-color: red; */
    width: var(--maximum-width);
    margin: 0 auto;
}
.classroom {
    margin-top: 25px;
}
.classroom-img {
    border-radius: var(--border-rad);
}
.attend-text {
    background-color: var(--blue);
    border-radius: var(--border-rad);
    color: #fff;
    padding: 15px;
    margin: 15px auto;
    font-size: 18px;
    letter-spacing: 0.2px;
    box-shadow: 0 2px 7px var(--grey-color);
}
.attend-text a {
    background-color: #fff;
    border-radius: var(--border-rad);
    text-decoration: none;
    color: var(--blue);
    padding: 0 3px;
    font-size: 19px;
    font-weight: 600;
}
.map-container {
    margin: 25px auto;
}
.map-label, .tgl-label, .classroom-label {
    color: var(--blue);
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
}
.map-iframe {
    border-radius: var(--border-rad);
    box-shadow: 0 2px 7px var(--grey-color);
    width: 100%; 
    height: 340px
}
.tgl-img {
    border-radius: var(--border-rad);
}