:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
    --grey-color: #575353;
    --grey--bg: rgb(216 215 215);
  }
.blog-container {
    width: var(--maximum-width);
    margin: 25px auto 0;
}
.blog-content {
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: var(--border-rad);
    box-shadow: 0 2px 7px var(--grey-color);
    padding: 15px;
}
.blog-title {
    /* padding-bottom: 0px; */
    text-align: center;
}
.blog-date-and-minute {
    text-align: center;
    padding-bottom: 8px;
    font-size: 15px;
}
.blog-truth-by-will-hash {
    font-size: 17px;
    font-weight: 700;
    color: blue;
    padding-top: 3px;
}

/* --MEDIA QUERY FOR Ipad and Tablet FROM 481PX UPTO 768PX-- */
@media screen and (min-width: 481px) {
    .blog-description {
        font-size: 19px;
    }
    .blog-truth-by-will-hash {
        font-size: 18px;
    }
}
