:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
} 
        /* ---BACK TO TOP--- */
.arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 9px;
}
.up {
    margin-top: 7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.back-to-top {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 130px;
    right: 14px;
    width: 53px;
    height: 55px;
    border-radius: var(--border-rad);
    background-color: var(--blue);
    cursor: pointer;
    box-shadow: 0 3px 10px #575353;
    border: none;
    z-index: 3;
}
.back-to-top.active {
    display: flex;
}
          /* ---HORIZONTAL LINE--- */
.menu--hr {
    width: 80% !important; 
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 28px;
    height: 25px;
    right: 52px;
    top: 25px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #fff;
    border-radius: var(--border-rad);
    height: 17% !important;
}  
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #edebeb;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 25px;
    width: 30px;
}  
  /* Color/shape of close button cross */
.bm-cross {
    background: #fff;
    height: 20px !important;
}  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
}
/* General sidebar styles */
.bm-menu {
    /* background-image: linear-gradient(to left, #0659C7, #21A7F5); */
    background-color: #065ac7fa;
    font-size: 20px;
    font-weight: 700;
}  
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}
/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    margin: 55px auto 0;
    width: 65%;
    height: 87% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
/* Individual item */
.bm-item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    letter-spacing: 0.4px;
} 
.menu-item {
    text-decoration: none !important;
    color: #fff;
}
.nav-links {
    height: 150px;
}
.menu--youtube-link {
    width: 30px;
    
}
.menu-item:hover {
    /* color: #373a47; */
    opacity: 0.9;
}
.menu-item.active {
  color: #373a47;
  background-color: #fff;
  padding: 7px 0;
  border-radius: var(--border-rad);
  /* padding-right: 3px; */
}
/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
}
.icon-and-menu {
    /* width: 46%; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 6px;
}
.menu-icon {
    width: 20px;
    margin-right: 10px;
}
/* Socila Media links */
.menu--social-medias {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.menu--social-icon {
    width: 25px;
}
/* --MEDIA QUERY DISABLE BURGER-MENU FOR SCREEN MORE THAN 481PX-- */
@media screen and (min-width: 481px) {
    .bm-burger-button {
        display: none;
    }
}