:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
}
.nav-bar {
    position: relative;
    background-color: var(--blue);
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.nav-bar.active {
    width: 92%;
    height: 50px;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-rad);
    z-index: 3;
    opacity: 0.9;
}
.nav-width {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.tbw-logo {
    width: 65px;
}

/* --PAGES-- */
.nav-pages {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.nav-page-item {
    text-decoration: none;
    color: #fff; 
    font-weight: 500;
}
.nav-icon-img {
    width: 25px;
}
.nav-icon-a {
    font-size: 0px;
}
.nav-page-item.active {
    border-bottom: 2px solid #fff;
}
/* --MEDIA QUERY DISABLE NAV PAGES FOR SCREEN LESS THAN 481PX-- */
@media screen and (max-width: 480px) {
    .nav-pages {
        display: none;
    }
    .nav-icon-a {
        display: none;
    }
}
/* --MEDIA QUERY FOR Ipad and Tablet FROM 481PX UPTO 768PX-- */
@media screen and (min-width: 481px) /* and (max-width: 768px)*/ { 
    .nav-bar.active {
       height: 55px;
    }
    .tbw-logo {
        width: 70px;
    }
    .nav-pages {
        width: 50%;
    }
}
/* --MEDIA QUERY FOR SMALL SCREEN LAPTOPS FROM 769PX UPTO 1024-- */
@media screen and (min-width: 769px) {
    .nav-pages {
        width: 40%;
    }
}
/* --MEDIA QUERY FOR SMALL SCREEN LAPTOPS FROM 1025PX UPTO 1200PX -- */
@media screen and (min-width: 1024px) {
    .nav-bar.active {
        width: 82%;
    }
    .nav-pages { 
        width: 37%;
    }
  }