:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
}
.arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 9px;
}
.up {
    margin-top: 7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.back-to-top {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 110px;
    right: 12px;
    width: 50px;
    height: 55px;
    border-radius: var(--border-rad);
    background-color: var(--blue);
    cursor: pointer;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border: none;
    z-index: 3;
}
.back-to-top.active {
    display: flex;
}
.back-to-top:hover {
    opacity: 0.9;
}
.nav-bar {
    position: relative;
    background-color: var(--blue);
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.nav-bar.active {
    width: var(--maximum-width);
    height: 50px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-rad);
    z-index: 3;
    opacity: 0.9;
}
.nav-width {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.tbw-logo {
    width: 65px;
}

.nav-bar--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}
.nav-bar--icon {
    width: 20px;
}
