:root {
    --border-rad: 5px;
    --blue: #0659C7;
    --maximum-width: 95%;
}
.nav-bar {
    background-color: var(--blue);
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.nav-bar.active {
    width: var(--maximum-width);
    height: 50px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-rad);
    z-index: 3;
    opacity: 1;
}
.nav-width {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.tbw-logo {
    width: 65px;
}
.nav-bar--pages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.page {
    font-size: 16px;
    width: 100%;
    color: #ffff;
    text-decoration: none;
    text-align: start;
    padding-left: 15px;
}
.page.active::before {
    content: " ";
    border: 1px solid #fff;
    margin-right: 3px;
}
.nav-bar--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
}
.nav-bar--icon {
    width: 20px;
}
                /* ----HUMBURGER MENU---- */
.humburger-menu { 
    height: 17px;
    width: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
}
.humburger-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 0.5em;
}
.menu {
    width: 150px;
    height: 180px;
    background-color: var(--blue);
    position: absolute;
    border-radius: var(--border-rad);
    right: 0;
    z-index: 2;
    text-align: start;
/* opacity: 0.9; */
}
.hidden {
    display: none;
}
.visible {
    display: inherit;
}
            /* ------ANIMATION------ */
                /* ------CLICKED------ */
.humburger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(6px, 3px);
    transition: ease-out 0.5s;
}
.humburger-bar.clicked:nth-child(2){
    transform: scale(0);
    transition: ease-out 0.5s;
}
.humburger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-6px, 4px);
    transition: ease-out 0.5s;
}
                /* ------UNCLICKED------ */
.humburger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}