* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; */
}
::after, ::before {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #F2F2F2;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}
img {
  max-width: 100%;
}
:root {
  --border-rad: 5px;
  --blue: #0659C7;
  --maximum-width: 95%;
  --grey-color: #575353;
  --grey--bg: rgb(216 215 215);
}
/* --LOADING STYLE-- */
.loading {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loading-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: loading-ring 1.5s linear infinite;
}
@keyframes loading-ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 4px 2px var(--blue);
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 4px 2px var(--blue);
  }
}
.loading-ring::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}
.link {
  text-decoration: none;
  font-size: 0;
}
                     /* MAIN STYLE */
               /* 1ST SECTION ESSENTIAL THINGS*/
.essential-container {
  width: var(--maximum-width);
  margin: 25px auto 25px;
  border-radius: var(--border-rad);
  box-shadow: 0 3px 10px var(--grey-color);
  background-color: #fff;
}
.essential-content {
  padding: 16px;
}
.essential-header {
  font-size: 20px;
  font-weight: 500;
}
.essential-paragraph {
  padding: 4px 0 15px;
  font-size: 16px;
  color: #626262;
}
    /* --WELCOME TEXT-- */
.welcome-text-cont {
  width: fit-content;
  padding-bottom: 10px;
}
.welcome-text-span {
  color: var(--blue);
  font-size: 18px;
  font-weight: 500;
}
.welcome-text {
  position: relative;
  color: var(--blue);
  font-size: 18px;
  font-weight: 500;
}
.welcome-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 2px solid var(--blue);
  animation: animate-welcome-text steps(14) 4.5s infinite;
  /* animation: animate-welcome-text 4.5s ease infinite; */
}
@keyframes animate-welcome-text {
  40%, 60% {
      left: 100%;
  }
  100% {
      left: 0%;
  }
}
.register-btn {
  background-color: var(--blue);
  font-size: 16px;
  padding: 8px 11px;
  border-radius: var(--border-rad);
  color: #F2F2F2;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 9px var(--grey-color);
}
.register-btn:hover {
  opacity: 0.9;
}
                  /* 2ND SECTION LECTURES SECTION*/
.lectures-container {
  width: var(--maximum-width);
  margin: 0 auto;
}
.lectures-header {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.lectures-profile {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.lecture-image {
  width: 180px;
}
.lecture-name {
  padding-left: 3px;
  margin-top: 4px;
  color: var(--blue);
  font-weight: 600;
}
                /* 3RD SECTION BLOG SECTION*/
.home--blog-container {
  background-color: #fff;
  width: var(--maximum-width);
  margin: 40px auto 25px;
  border-radius: var(--border-rad);
  box-shadow: 0 2px 7px var(--grey-color);
}
.home--blog-content {
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
}
.home--blog-header {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.eng-version-not-yet {
  width: fit-content;
  margin: 0 auto;
  font-size: 13px;
  /* text-align: center; */
  color: #fff;
  background-color: rgb(239, 27, 27);
  padding: 3px 4px;
  border-radius: var(--border-rad);
}
.home--blog-title {
  padding: 5px 0 3px;
  font-size: 25px;
  font-weight: 600;
  color: var(--blue)
}
.home--blog-description {
  font-size: 15px;
  color: var(--grey-color);
  padding-bottom: 4px;
}
.home--blog-link {
  text-decoration: none;
}
.home--blog-read-more {
  color: var(--blue);
  display: inline-block;
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid var(--blue);
  margin-bottom: 3px;
}
.read-more-arrow {
  color: var(--blue);
}
.date-and-minute {
  color: #645e5e;
  font-size: 17px;
  font-weight: 500;
}
.home--blog-truth-by-will-hash {
  font-size: 17px;
  font-weight: 700;
  color: blue;
}
               /* 4TH SECTION LATEST VIDEOS*/
.latest-video-container {
  width: var(--maximum-width);
  text-align: center;
  margin: 30px auto 0;
}
.latest-video-header {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
}
.youtube-iframe {
  border: 0;
  border-radius: var(--border-rad);
  width: 90%;
  height: 197px;
}
        /* --5th SECTION HOME MAP IFRAM-- */
.map-and-reg-form {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}
.home-map-iframe {
  width: 100%; 
  height: 340px;
  margin-top: 30px;
}
/* --page not found-- */
.page-not-found-cont {
  /* background: green; */
  width: var(--maximum-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* text-align: center; */
}
.page-not-found-cont h1 {
  font-size: 45px;
  color: rgb(232, 37, 37);
}
.page-not-found-cont p {
  font-size: 18px;
}
.inline {
  display: flex;
  /* background: green; */
  align-items: center;
}
.inline a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
  font-size: 18px;
}

/* Common Break Points in media query {
      320px — 480px: Mobile devices
      481px — 768px: iPads, Tablets
      769px — 1024px: Small screens, laptops
      1025px — 1200px: Desktops, large screens
      1201px and more —  Extra large screens, TV
      My PC 1536 * 834
      My Phone 412 * 780
} */
/* --MEDIA QUERY FOR SMALL SCREEN MOBILE UPTO 350PX-- */
@media screen and (max-width: 350px) {
  /* body {
    background-color: red;
  } */
  /* .essential-content {
    /* width: 65%;
    padding: 10px;
  } */
  .welcome-text-span, .welcome-text {
    font-size: 14px;
  }
  .essential-header {
    font-size: 18px;
  }
  .essential-paragraph {
    font-size: 15px;
  }
  .register-btn {
    font-size: 13px;
    padding: 6px 7px;
  }
              /* 2ND SECTION LECTURES SECTION @MEDIA*/
  .lectures-header {
    font-size: 19px;
  }
  .lecture-image {
    width: 135px;
  }
               /* 4TH SECTION LATEST VIDEOS*/
  .youtube-iframe {
    height: 182px;
  }
}
/* --MEDIA QUERY FOR MEDIUM SCREEN MOBILE FROM 351PX UPTO 380PX-- */
@media screen and (min-width: 351px) and (max-width: 380px) {
  /* body {
    background-color: green;
  } */
  /* .essential-content {
    width: 65%;
    padding: 10px;
  } */
  .welcome-text-span, .welcome-text {
    font-size: 16.5px;
  }
  .essential-header {
    font-size: 18px;
  }
  .essential-paragraph {
    font-size: 15px;
  }
  .register-btn {
    font-size: 13px;
    padding: 6px 7px;
  }
          /* 2ND SECTION LECTURES SECTION @MEDIA*/
  .lectures-header {
    font-size: 19px;
  }
  .lecture-image {
    width: 160px;
  }
          /* 4TH SECTION LATEST VIDEOS @MEDIA*/
  .youtube-iframe {
    height: 182px;
  }
}
/* --MEDIA QUERY FOR Ipad and Tablet FROM 481PX TO 768PX-- */
@media screen and (min-width: 481px) {
  /* body {
    background-color: yellow;
  } */
  .essential-container {
    width: 90%;
  }
  /* .essential-content {
    padding: 25px 0 30px 11px;
  } */
  .welcome-text-span, .welcome-text {
    font-size: 22px;
  }
  .essential-header {
      font-size: 23px;
  }
  .essential-paragraph {
      padding: 10px 0 21px;
      font-size: 20px;
  }
  .register-btn {
    font-size: 17px;
    padding: 8px 11px;
}
          /* 2ND SECTION LECTURES SECTION @MEDIA*/
  .lectures-header {
      width: 55%;
      font-size: 26px;
  }
  .lectures-profile {
      width: 80%;
      margin: 0 auto;
  }
  .lecture-image {
      width: 240px;
  }
  .lecture-name {
    font-size: 18px;
  }
        /* 3RD SECTION BLOG SECTION @MEDIA*/
  .home--blog-container {
    width: 90%;
  }
  .home--blog-header {
    font-size: 23px;
  }
  .home--blog-title {
    font-size: 27px;
  }
  .home--blog-description {
    font-size: 17px;
  }
  .home--blog-truth-by-will-hash {
    font-size: 18px;
  }
        /* 4TH SECTION LATEST VIDEOS @MEDIA*/
  .latest-video-header {
    font-size: 23px;
  }
  .youtube-iframe {
    width: 80%;
    height: 322px;
  }
}
/* --MEDIA QUERY FOR SMALL SCREEN LAPTOPS FROM 769PX UPTO 1024-- */
@media screen and (min-width: 769px) {
  /* body {
    background-color: rgb(211, 179, 234);
  } */
  .essential-container {
    width: 75%;
  }
  /* .essential-content {
    padding: 10px;
  } */
  .welcome-text-span, .welcome-text {
    font-size: 23px;
  }
  .essential-header {
    font-size: 24px;
  }
  .essential-paragraph {
    font-size: 22px;
  }
  .register-btn {
    font-size: 19px;
  }
  /* 2ND SECTION LECTURES SECTION @MEDIA*/
  .lectures-header {
    width: 52%;
    font-size: 28px;
  }
  .lectures-profile {
    width: 70%;
  }
  .lecture-image {
    width: 240px;
  }
  .lecture-name {
    font-size: 23px;
  }
   /* 3RD SECTION BLOG SECTION @MEDIA*/
   .home--blog-container {
    width: 75%;
   }
   .home--blog-header {
    font-size: 25px;
  }
  .home--blog-title {
    font-size: 28px;
  }
  .home--blog-description {
    font-size: 19px;
  }
   /* 4TH SECTION LATEST VIDEOS @MEDIA*/
  .latest-video-header {
    font-size: 25px;
  }
  .youtube-iframe {
    width: 65%;
    height: 293px;
  }
  .home-map {
    margin-top: 30px;
  }
  .home-map-iframe {
    height: 365px;
  }
}
/* --MEDIA QUERY FOR LARGE SCREEN LAPTOPS FROM 1024PX UPTO 1200PX -- */
@media screen and (min-width: 1024px) {
  /* body {
    background-color: purple;
  } */
  .essential-container {
    width: 70%;
  }
  .lectures-header {
    width: 40%;
  }
  .lectures-profile {
    width: 60%;
  }
  .home--blog-container {
    width: 70%;
  }
  .youtube-iframe {
    width: 61%;
    height: 412px;
  }
  .map-and-reg-form {
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto; 
  }
  .home-map-iframe {
    width: 50%; 
    height: 360px;
    margin-top: 0px;
    border-radius: var(--border-rad);
    box-shadow: 0 3px 10px var(--grey-color);
  }
}
/* --MEDIA QUERY FOR EXTRA LARGE SCREEN, TV FROM 1281PX AND ABOVE  -- */
@media screen and (min-width: 1281px) {
  /* body {
    background-color: rgb(178, 44, 67);
  } */
  .essential-container {
    width: 60%;
  }
  .lectures-header {
    width: 25%;
  }
  .lectures-profile {
    width: 45%;
  }
  .lecture-image {
    width: 245px;
  }
  .home--blog-container {
    width: 60%;
  }
  .youtube-iframe {
    width: 50%;
    height: 509px;
  }
  .map-and-reg-form {
    width: 51%;
  }
}
