* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
::after, ::before {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
body {
  font-family: 'Maven Pro', sans-serif;
  background: #F2F2F2;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}
img {
  max-width: 100%;
}
:root {
  --border-rad: 5px;
  --blue: #0659C7;
  --maximum-width: 95%;
  --grey-color: #575353;
  --grey--bg: rgb(216 215 215);
}
.link {
  text-decoration: none;
  font-size: 0;
}
                     /* MAIN STYLE */
               /* 1ST SECTION QUOTE SECTION*/
.quote {
  width: 65%;
  margin: 25px auto 25px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.2px;
}
               /* 2ND SECTION ESSENTIAL THINGS*/
.essential-container {
  width: var(--maximum-width);
  margin: 25px auto 25px;
  background-image: url("./assets/image/plant-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--border-rad);
  box-shadow: 0 3px 10px var(--grey-color);
}
.essential-content {
  width: 60%;
  padding: 18px 0 28px 11px;
}
.essential-header {
  font-size: 20px;
  font-weight: 500;
}
.essential-paragraph {
  padding: 4px 0 8px;
  font-size: 16px;
  color: #626262;
}
.register-btn {
  background-color: var(--blue);
  font-size: 16px;
  padding: 8px 11px;
  border-radius: var(--border-rad);
  color: #F2F2F2;
  border: none;
  cursor: pointer;
  box-shadow: 0 3px 9px var(--grey-color);
}
.register-btn:hover {
  opacity: 0.9;
}
                  /* 3RD SECTION LECTURES SECTION*/
.lectures-container {
  width: var(--maximum-width);
  margin: 0 auto;
}
.lectures-header {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  margin-bottom: 20px;
}
.lectures-profile {
  /* background-color: red; */
  display: flex;
  /*text-align: center;*/
  align-items: center;
  justify-content: space-between; 
}
.lecture-image {
  width: 180px;
}
.lecture-name {
  padding-left: 3px;
  margin-top: 4px;
  color: var(--blue);
  font-weight: 600;
}

                /* 4TH SECTION BLOG SECTION*/
.home--blog-container {
  /* background-image: linear-gradient(to right, #21A7F5, #0659C7); */
  background-color: #fff;
  width: var(--maximum-width);
  margin: 40px auto 25px;
  border-radius: var(--border-rad);
  box-shadow: 0 2px 7px var(--grey-color);
}
.home--blog-content {
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
}
.home--blog-header {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.home--blog-title {
  padding: 5px 0 3px;
  font-size: 25px;
  /* text-align: center; */
  font-weight: 600;
}
.home--blog-description {
  font-size: 15px;
  color: var(--grey-color);
  padding-bottom: 4px;
}
.home--blog-link {
  text-decoration: none;
}
.home--blog-read-more {
  color: var(--blue);
  display: inline-block;
  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid var(--blue);
  margin-bottom: 3px;
}
.read-more-arrow {
  color: var(--blue);
}
.date-and-minute {
  color: #080808;
  font-size: 17px;
  font-weight: 500;
}
.home--blog-written-by {
  font-size: 17px;
  font-weight: 700;
  color: #080808;
}
               /* 5TH SECTION LATEST VIDEOS*/
.latest-video-container {
  width: 95%;
  /* height: fit-content; */
  text-align: center;
  margin: 30px auto 0;
}
.latest-video-header {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
}
.latest-video-container iframe {
  width: 360px;
  height: 202px;
  /* FOR 360PX SCREEN 
  width: 324px;
  height: 185px; */
  border-radius: var(--border-rad);
}
          /* 6TH SECTION SUBSCRIBE CHANNEL SECTION*/
.channels-container {
  width: 80%;
  margin: 25px auto;
}
.channels-header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}
.tuned {
  font-weight: 600;
  color: #21A7F5;
}
                              /* ---ABOUT US--- */
.about-container {
  width: var(--maximum-width);
  margin: 0 auto;
}
.who-we-are, .aim{
  background-color: var(--grey--bg);
  color: #000;
  border-radius: var(--border-rad);
  margin: 25px auto;
  padding: 12px;
}
.who--title, .aim--title {
  padding-bottom: 8px;
}
